/*******************
 * Wardly-TO Setup *
 *******************/

@font-face {
  font-family: 'wardly-to-webfont';
  src: url("../font/torontowards-webfont.eot");
  src: url("../font/torontowards-webfont.eot?#iefix") format("embedded-opentype"), url("../font/torontowards-webfont.woff") format("woff"), url("../font/torontowards-webfont.ttf") format("truetype"), url("../font/torontowards-webfont.svg#testfontRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.wardly {
  font: normal normal 600px/100% "wardly-to-webfont";
  font-size-adjust: none;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "liga=1";
  -ms-font-feature-settings: "liga" 1;
  -ms-font-feature-settings: "liga", "dlig";
  overflow: hidden;
  width: 290px;
  height: 130px;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.wardly li {
  float: left;
  margin: 0 0 0 -100%;
  position: relative;
  left: 101%;
  width: 100%;
  cursor: default;
  -webkit-transition: all 1s ease-in;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/************************
 * Style customizations *
 ************************/
.wardly {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  border-top: 1px solid #dddddd;
}

#york {
  color: #b0b0b0;
}

.york-ward {
  color: #a3d07e;
}

